<table class="table">
    <thead>
    <tr>
        <th>Zeit</th>
        <th>Lehrkraft</th>
        <th>Kurs / Klasse</th>
        <th>Besucher_in</th>
        <th>Schüler_in</th>
        <th>Erstellt von</th>
        <th>Bearbeitet von</th>
        <th>Erstellt am</th>
        <th>Bearbeitet am</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.timeFrame }}</td>
            <td>{{ appointment.teacher }}</td>
            <td>{{ appointment.schoolClass|default('') }}</td>
            <td>{{ appointment.visitorFirstName }} {{ appointment.visitorLastName }}</td>
            <td>{{ appointment.studentFirstName }} {{ appointment.studentLastName }}</td>
            <td>{{ appointment.createdBy }}</td>
            <td>{{ appointment.updatedBy }}</td>
            <td>{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ appointment.updatedAt ? appointment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a class="btn btn-secondary" href="{{ path('app_appointment_show', {'id': appointment.id}) }}">anzeigen</a>
                {% if not is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-secondary" href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">bearbeiten</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">Keine Datensätze gefunden!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
