<!DOCTYPE html>

<title>Appointment index</title>

{% block body %}
    <h1>Appointment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>VisitorFirstName</th>
                <th>VisitorLastName</th>
                <th>StudentFirstName</th>
                <th>StudentLastName</th>
                <th>Email</th>
                <th>Token</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.visitorFirstName }}</td>
                <td>{{ appointment.visitorLastName }}</td>
                <td>{{ appointment.studentFirstName }}</td>
                <td>{{ appointment.studentLastName }}</td>
                <td>{{ appointment.email }}</td>
                <td>{{ appointment.token }}</td>
                <td>
                    <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_new') }}">Create new</a>
{% endblock %}
