{% extends 'backend/base.html.twig' %}

{% block page_title %}
    <div class="page-title">
        <div class="title_left">
            <h3>Klasse <small>{{ school_class }}</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 text-right align-bottom form-group pull-right">
                <a class="btn btn-secondary" href="{{ path('app_school_class_index') }}">Zurück zur Übersicht</a>
                <a class="btn btn-secondary"  href="{{ path('app_school_class_edit', {'id': school_class.id}) }}">Bearbeiten</a>
                {{ include('backend/school_class/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel tile">
            <div class="x_content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ school_class.id }}</td>
                    </tr>
                    <tr>
                        <th>Kürzel</th>
                        <td>{{ school_class.code }}</td>
                    </tr>
                    <tr>
                        <th>Erstellt von</th>
                        <td>{{ school_class.createdBy }}</td>
                    </tr>
                    <tr>
                        <th>Bearbeitet von</th>
                        <td>{{ school_class.updatedBy }}</td>
                    </tr>
                    <tr>
                        <th>Erstellt am</th>
                        <td>{{ school_class.createdAt ? school_class.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Bearbeitet am</th>
                        <td>{{ school_class.updatedAt ? school_class.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}