{% extends 'frontend/base.html.twig' %}

{% block content %}

    <h1>Hallo {{ teacher.firstName }} {{ teacher.lastName }}</h1>

    <form method="post">
        <label>Wann haben Sie Zeit, bitte w채hlen Sie aus, wann Sie verf체gbar sind (entfernen Sie den Haken, wenn Sie NICHT verf체gbar sind):</label>
        {% for timeFrame in timeFrames %}
            <input type="checkbox" name="timeFrame[{{timeFrame}}]" id="tf_{{ timeFrame.id }}" value="1" {% if teacher.getAvailableTimeFrames().contains(timeFrame)  %}checked{% endif %} class="flat" /> {{timeFrame}}
            <br/>
        {% endfor %}

        <button class="btn btn-primary btn-lg" type="submit">Verf체gbarkeiten erfassen</button>
    </form>


{% endblock %}

