{% extends 'backend/base.html.twig' %}

{% block page_title %}
    <div class="page-title">
        <div class="title_left">
            <h3>Lehrkraft <small>{{ teacher }}</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 text-right align-bottom form-group pull-right">
                <a class="btn btn-secondary" href="{{ path('app_teacher_index') }}">Zurück zur Übersicht</a>
                <a class="btn btn-secondary"  href="{{ path('app_teacher_edit', {'id': teacher.id}) }}">Bearbeiten</a>
                {{ include('backend/teacher/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel tile">
            <div class="x_content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ teacher.id }}</td>
                    </tr>
                    <tr>
                        <th>Kürzel</th>
                        <td>{{ teacher.code }}</td>
                    </tr>
                    <tr>
                        <th>Vorname</th>
                        <td>{{ teacher.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Nachname</th>
                        <td>{{ teacher.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Erstellt von</th>
                        <td>{{ teacher.createdBy }}</td>
                    </tr>
                    <tr>
                        <th>Bearbeitet von</th>
                        <td>{{ teacher.updatedBy }}</td>
                    </tr>
                    <tr>
                        <th>Erstellt am</th>
                        <td>{{ teacher.createdAt ? teacher.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Bearbeitet am</th>
                        <td>{{ teacher.updatedAt ? teacher.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel tile">
            <div class="x_title"><h3>Termine</h3></div>
            <div class="x_content">
                {% include 'backend/appointment/_appointments.html.twig' with {'appointments': teacher.appointments} %}
            </div>
        </div>
    </div>

{% endblock %}
