{% extends 'backend/base.html.twig' %}

{% block page_title %}
    <div class="page-title">
        <div class="title_left">
            <h3>Bilder <small>Übersicht</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 text-right align-bottom form-group pull-right">
                <a class="btn btn-secondary" href="{{ path('app_image_new') }}">Neues Bild anlegen</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel tile">
            <div class="x_content">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>FileContent</th>
                        <th>MimeType</th>
                        <th>created at</th>
                        <th>updated at</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for image in images %}
                        <tr>
                            <td>{{ image.id }}</td>
                            <td>{{ image.name }}</td>
                            <td><img width="300" alt="{{ image.name }}" src="{{ path('app_image', {'id': image.id}) }}"></td>
                            <td>{{ image.mimeType }}</td>
                            <td>{{ image.createdAt|format_datetime(locale='de')  }}</td>
                            <td>{{ image.updatedAt|format_datetime(locale='de')  }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{{ path('app_image_show', {'id': image.id}) }}">Anzeigen</a>
                                <a class="btn btn-secondary" href="{{ path('app_image_edit', {'id': image.id}) }}">Bearbeiten</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}