{% extends 'frontend/base.html.twig' %}

{% block content %}
    <p>Wir haben Ihren Termin um <strong>{{ appointment.timeFrame.name }} Uhr</strong> mit
        <strong>{{ appointment.teacher.firstName }} {{ appointment.teacher.lastName }} erfasst.</strong></p>


    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <p><strong>Notieren Sie sich bitte Ihren Termin!</strong></p>
    </div>
{#    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">#}
{#        <a href="{{ path('app_ical_appointment', {'token': appointment.token}) }}" class="btn btn-primary btn-lg">Download einer iCal Datei für Ihren digitalen Kalender</a>#}
{#    </div>#}

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <a href="{{ path('app_homepage') }}" class="btn btn-primary btn-lg">Einen zusätzlichen Termin bei einer anderen Lehrkraft vereinbaren!</a>
    </div>


{% endblock %}
